@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.otf") format("woff");
}

* {
  font-family: "Work Sans";
}

main,
.container {
  color: #213f7d !important;
}

aside {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
}

aside::-webkit-scrollbar {
  display: none;
}

.fixed-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.main-wrapper,
.sidebar-wrapper {
  margin-top: 50px;
}

.text-size-md {
  font-size: 0.99rem;
}

/* .text-purple-600 {
    color: rgb(57, 205, 204) !important;
} */

.bg-purple-600 {
  background: rgb(57, 205, 204) !important;
}

.text-size-sm {
  font-size: 0.75rem;
}

.pri-col-1 {
  background-color: #39cdcc;
  opacity: 1;
}

.pri-col-text {
  color: rgba(33, 63, 125, 1) !important;
}

.pri-col-text-light {
  color: rgba(33, 63, 125, 0.6);
}

.pri-col-text-md {
  color: #545f7d;
}

/* INFO CARD */
.info-card {
  padding: 0 1.5rem;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  transition: 0.4s;
}

.info-card:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* End */

/* TABLE CUSTOM */
.table-container {
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

thead {
  background-color: white !important;
  border-bottom: none !important;
}

tr {
  line-height: 2rem !important;
}

.bar-active-bg {
  background-color: rgba(57, 205, 204, 0.06);
}
/* END */

/* USER DETAILS TAB */
.user-details-header {
  background: white;
  padding: 2rem;
  border-radius: 4px 4px 0 0;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.ant-tabs-nav {
  background: white;
  padding: 0 2rem;
  border-radius: 0 0 4px 4px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.ant-tabs-nav-list {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ant-tabs-content-holder {
  background: white;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 4px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.details-section {
  border-bottom: 1px soild red !important;
}

.onboarding-wrapper {
  min-height: 100vh;
}

.mobile-logo {
  display: none;
}

@media (max-width: 1284px) {
  .user-details-box {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .lsqr-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
  }

  .sidebar-wrapper {
    padding-top: 0 !important;
  }

  header {
    z-index: 1000 !important;
  }
}

@media (max-width: 790px) {
  .user-details-box,
  .user-details-header .table-row {
    display: block;
  }

  .user-details-header .table-row-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-details-header .table-cell {
    border: none !important;
    padding: 0;
    display: block;
    margin-top: 1rem;
  }

  .ant-tabs-nav-list {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
  }

  .ant-tabs-tab-active .ant-tabs-tab-btn {
    border-bottom: 2px solid #1890ff !important;
  }

  .ant-tabs-ink-bar {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .page-title-container {
    display: block;
  }
}
